<ion-view view-title="CreateAccount">
  <div class="list">
    <label class="item item-input item-floating-label">
      <span class="input-label">Nome de Usuário</span>
      <input type="text" placeholder="Username">
    </label>
    <label class="item item-input item-floating-label">
      <span class="input-label">Nome</span>
      <input type="text" placeholder="Nome">
    </label>
    <label class="item item-input item-floating-label">
      <span class="input-label">Sobrenome</span>
      <input type="text" placeholder="Sobrenome">
    </label>
    <label class="item item-input item-floating-label">
      <span class="input-label">Email</span>
      <input type="text" placeholder="Email">
    </label>
    <label class="item item-input item-floating-label">
      <span class="input-label">Senha</span>
      <input type="password" placeholder="Senha">
    </label>
<button>Cadastrar</button>
    <button>Login</button>
  </div>
</ion-view>
