<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">Atualizações Recentes</div>
      <div class="item item-body">
        <div>
          Adicionar alguma coisa
      </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Conteúdo Teste</div>
      <div class="item item-body">
        <div>
          Adicionar alguma coisa
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Conteúdo Teste</div>
      <div class="item item-body">
        <div>
          Adicionar alguma coisa
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
