<ion-view view-title="Login">
  <ion-content>
  <div class="list">
    <label class="item item-input item-floating-label">
      <span class="input-label">Username</span>
      <input type="text" placeholder="Username">
    </label>
    <label class="item item-input item-floating-label">
      <span class="input-label">Senha</span>
      <input type="password" placeholder="Senha">
    </label>
    <ion-nav-back-button>
    <button>Cadastrar</button>
    <button>Login</button>
    </ion-nav-back-button>
  </div>
  </ion-content>

</ion-view>
